h1 {
    text-align:center;
    color: red;
}

p {
    text-align: center;
}

#Youtube, #audiodiv, #videodiv, #objectdiv, a {
   margin:auto;
}

object, audio, video {
    margin: auto;
    display: block;
}
